img {
    width: 100%;
}

h2 {
    margin: 3vh 0;
}

h4 {
    margin: 2vh 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    img {
        width: auto;
    }
}

.card {
    padding: 3vh;
}

.container,
.container-full {
    padding: 5vh;
    box-sizing: border-box;
    display: flex;
}

#stage {
    height: 100vh;
    background: url('img/stage.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        .content {
            display: block;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5vh;
            text-align: center;
        }
    }
}

#offer {
    .container {
        .content {
            padding: 0;
            flex-direction: column;
        }
    }
}


#about{
    .col-lg-6{
        display: flex;
        align-items: center;
       
    }
}
@media (max-width:991px) {
    #stage {
        .content {
            h1 {
                font-size: 25px;
            }
        }
    }
}
