img {
    width: 100%;
}

h2 {
    margin: 3vh 0;
}

h4 {
    margin: 2vh 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    img {
        width: auto;
    }
}

.card {
    padding: 3vh;
}

.container,
.container-full {
    padding: 5vh;
    box-sizing: border-box;
    display: flex;
}

#stage {
    height: 100vh;
    background: url('img/stage.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        .content {
            display: block;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5vh;
            text-align: center;
        }
    }
}

#offer {
    .container {
        .content {
            padding: 0;
            flex-direction: column;
        }
    }
}

#about {
    .col-lg-6 {
        display: flex;
        align-items: center;
    }
}

#team {
    padding: 10vh 2vh;
    .slider {
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: 2rem;
        
        .card {
            padding: 0;
            margin: 0 3vh;
            height: 100%;
            width: 33%;
        }
        .item {
            float: right;
            .card-img-top {
                height: 40vh;
                width: 100%;
            }
            .card-body {
                color: white;
                padding: 1rem;
                width: 100%;
                flex-direction: column;
                h5 {
                    margin: 0;
                    text-align: center;
                }
                .card-text {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 1vh;
                    font-size: 0.9rem;
                    text-align: center;
                    a {
                        img {
                            height: 32px;
                            width: 32px;
                            margin: 0 1vh;
                        }
                    }
                }
            }
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

#how-working {
    .container {
        background: #eae4e4;
        .col-lg-5 {
            display: flex;
            align-items: center;
        }
    }
}

#contact {
    img {
        max-height: 32px;
        object-fit: contain;
    }
}
#other-section{
    margin: 10vh 0;
    padding: 5vh;
    background-image: url(img/office-1209640_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .col-md-8{
        padding: 5vh;
        background: rgba(0,0,0,0.6);
        color:white;
        h2{
            margin-top: 0;
        }
    }
}
@media (max-width:991px) {
    #stage {
        .content {
            h1 {
                font-size: 25px;
            }
        }
    }
}
